/* Overall Roadmap Styling */
.roadmap {
  background-color: #000; /* Black background */
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}
.roadmap-header {
  font-size: 20px;
}

.roadmap-header h2 {
  font-size: 56px;
  font-weight: 700;
  color: white; /* Purple */
}

.roadmap-header p {
  color: #ddd;
  font-size: 16px;
  margin-top: 8px;
}

/* Timeline Styling */
.roadmap-timeline {
  position: relative;
  margin: 40px 370px;
  padding-left: 50px;
  border-left: 2px dashed #444; /* Dashed vertical line */
  max-width: 800px;
}

.roadmap-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
  background-color: #141414;
  padding: 20px;
  width: 600px;
}

/* Circle and Number */
.roadmap-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0px;
  background-color: #a98ffc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 100% 0;
}

.roadmap-number {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

/* Content Styling */
.roadmap-content {
  margin-left: 70px;
  text-align: left;
}

.roadmap-date {
  font-size: 14px;
  font-weight: bold;
  color: #a98ffc;
  margin-bottom: 8px;
}

.roadmap-content h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}

.h3-span-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap-content p {
  font-size: 14px;
  color: #ddd;
  padding-top: 20px;
  border-top: 1px solid white;
}

.roadmap-progress {
  display: inline-block;
  margin-top: 8px;
  background-color: #a98ffc;
  color: #fff;
  padding: 10px 7px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 1204px) {
  .roadmap-timeline {
    margin: 40px 200px;
  }
}

@media (max-width: 768px) {
  /* Styles for tablets */
  .roadmap-timeline {
    margin: 40px 10px;
  }
}

@media (max-width: 576px) {
  /* Styles for mobile devices */
  .roadmap-item {
    width: 100%;
    padding: 10px;
  }

  .roadmap-timeline {
    padding-left: 10px;
  }
  .roadmap-content {
    margin-left: 40px;
  }
}
