.countdown {
  text-align: center;
  background-color: #000; /* Black background */
  color: white;
  padding: 50px 200px;
}

.countdown-title {
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 20px;
}

.countdown-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 78px;
  font-weight: 500;
  margin-bottom: 30px;
}

.rocket-icon {
  width: 15%;
  transform: rotate(-15deg);
}

.highlight {
  color: #a020f0; /* Purple */
}

.timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.time-box {
  padding: 20px 10px;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}

.time-value {
  font-size: 92px;
  font-weight: bold;
  color: #f9a602; /* Yellow for numbers */
}

.time-label {
  font-size: 14px;
  color: #ccc;
}

.time-divider {
  font-size: 32px;
  color: #a020f0; /* Purple for colons */
}
